<div id="investigator-<%= investigator.id %>" class="card-category">
  <div class="flex-row-container">
    <h4 class="arkham-font-tale media-font-size-small"><%= investigator.name %></h4>
    <div>
      <%= link_to  edit_campaign_investigator_path(@campaign, investigator) do %>
        <i class="fas fa-pencil-alt link-icon"></i>
      <% end %>
      <%= link_to  campaign_investigator_path(@campaign, investigator),
            method: :delete,
            data: { confirm: "Are you sure?" } do %>
        <i class="fas fa-trash link-icon"></i>
      <% end %>
    </div>
  </div>
  <br>
  <p>Player: <%= investigator.player_name %></p>
  <% unless investigator.deck_link.blank?   %>
    <p>Deck Link: <%= link_to "Go to your Deck", investigator.deck_link, :target => "_blank", style: "color: black", class: "underlined-link" %></p>
  <% end %>
  <div class="flex-row-container">
    <p>Physical Trauma:</p>
    <%= button_to  campaign_investigator_path(@campaign, investigator), method: :put,
            params: {:investigator => { :physical_trauma => investigator.physical_trauma - 1 } }, class:["button-no-styling", "link-icon"],
            remote: true do %>
      <i class="fas fa-minus"></i>
    <% end %>
    <%= investigator.physical_trauma %>
    <%= button_to  campaign_investigator_path(@campaign, investigator), method: :put,
        params: {:investigator => { :physical_trauma => investigator.physical_trauma + 1 } }, class:["button-no-styling", "link-icon"],
        remote: true do %>
      <i class="fas fa-plus"></i>
    <% end %>
  </div>
  <div class="flex-row-container">
    <p>Mental Trauma:</p>
    <%= button_to  campaign_investigator_path(@campaign, investigator), method: :put,
            params: {:investigator => { :mental_trauma => investigator.mental_trauma - 1 } }, class:["button-no-styling", "link-icon"],
            remote: true do %>
      <i class="fas fa-minus"></i>
    <% end %>
    <%= investigator.mental_trauma %>
    <%= button_to  campaign_investigator_path(@campaign, investigator), method: :put,
            params: {:investigator => { :mental_trauma => investigator.mental_trauma + 1 } }, class:["button-no-styling", "link-icon"],
            remote: true do %>
      <i class="fas fa-plus"></i>
    <% end %>
  </div>
  <div class="flex-row-container">
    <p>Unspent Experience Points:</p>
    <%= button_to  campaign_investigator_path(@campaign, investigator), method: :put,
        params: {:investigator => { :unspent_experience_points => investigator.unspent_experience_points - 1 } }, class:["button-no-styling", "link-icon"],
        remote: true do %>
      <i class="fas fa-minus"></i>
    <% end %>
    <%= investigator.unspent_experience_points %>
    <%= button_to  campaign_investigator_path(@campaign, investigator), method: :put,
        params: {:investigator => { :unspent_experience_points => investigator.unspent_experience_points + 1 } }, class:["button-no-styling", "link-icon"],
        remote: true do %>
      <i class="fas fa-plus"></i>
    <% end %>
  </div>
</div>
