<div class="standard-container">
  <%= link_to campaign_path(@campaign) do %>
    <i class="fas fa-arrow-circle-left link-icon"></i>
    <span class="back-link-text">Back</span>
  <% end %>
  <div class="margin-top">
    <%= simple_form_for [@campaign, @investigator] do |f| %>
      <%= f.input :player_name, label: "Player Name" %>
      <%= f.input :name, label: "Investigator", :collection => Investigator.names %>
      <%= f.input :deck_link, label: "Deck Link" %>
      <%= f.submit "Update Investigator", class: "button-tale" %>
    <% end %>
  </div>
</div>
