<nav class="navbar navbar-expand-lg navbar-dark navbar-container">
  <%= link_to root_path, class: "navbar-brand" do %>
    <%= image_tag "text_logo_white.svg" %>
  <% end %>
   <!-- move everything after this to the right -->
  <div style="display: flex; flex-direction: row; flex-grow: 1;"></div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarToggler">
     <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <% if user_signed_in? %>
        <li class="nav-item active">
          <%= link_to "new campaign", new_campaign_path, class: "nav-link-responsive nav-link-non-resp" %>
        </li>
        <li class="nav-item active">
          <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "nav-link-responsive nav-link-non-resp" %>
        </li>
      <% else %>
        <%#= link_to "Sign Up", new_user_session_path, class: "nav-link" %>
        <li class="nav-item active">
          <%= link_to "Login", new_user_session_path, class: "nav-link-responsive nav-link-non-resp" %>
        </li>
      <% end %>
    </ul>
  </div>
</nav>
