<div class="standard-container">
  <div class="flex-row-container-wrap margin-bottom" style="align-items: center">
    <h3 class="arkham-font-tale">Your Campaigns</h3>
    <% if @hide_completed %>
      <%= link_to "Show all", campaigns_path, class:"button-tale"%>
    <% else %>
      <%= link_to "Hide completed", campaigns_path(:hide_completed => "true"), class:"button-tale"%>
    <% end %>
  </div>
  <div class="cards">
    <% @campaigns.each do |campaign| %>
      <div class="card-category">
        <%= link_to campaign_path(campaign), class:"no-link-style-black" do %>
          <div class="flex-row-container">
            <h4 class="arkham-font-tale media-font-size-small"><%= @campaign_names[campaign.name.to_sym] %></h4>
            <%= link_to  campaign_path(campaign),
              method: :delete,
              data: { confirm: "Are you sure?" } do %>
              <i class="fas fa-trash link-icon"></i>
            <% end %>
          </div>
          <p class="bold-font">Players</p>
          <% campaign.investigators.each do |investigator| %>
            <p><%= "#{investigator.player_name}: #{investigator.name}
          (#{investigator.unspent_experience_points} XP)"%></p>
          <% end %>
          <% @uncompleted_scenarios = campaign.scenarios.order(:scenario_nr).reject(&:completed) %>
          <% if @uncompleted_scenarios.empty? %>
            <p class="bold-font">Completed</p>
          <% else %>
            <p class="bold-font">Next Scenario</p>
            <p><%= "#{@uncompleted_scenarios[0].name}"%></p>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
