<div class="standard-container">
  <%= link_to campaigns_path do %>
    <div class="back-link-container">
      <i class="fas fa-arrow-circle-left"></i>
      <p class="back-link-text">Back</p>
    </div>
  <% end %>
  <div class="margin-top">
    <%= simple_form_for @campaign do |f| %>
      <%= f.input :name, label: "Choose the Campaign", :collection => Campaign.campaign_names, 
          label_method: :second, value_method: :first %>
      <%= f.input :difficulty, label: "Choose Difficulty", :collection => Campaign.difficulties %>
      <!-- choose investigator -->
      <%= f.fields_for :investigators do |investigator| %>
        <%= investigator.input :player_name, label: "Player Name" %>
        <%= investigator.input :name, label: "Investigator", :collection => [
          "Rex Murphy", "Agnes Baker", "Daisy Walker", "William Yorick"
        ] %>
        <%= investigator.input :deck_link, label: "Deck Link" %>
      <% end %>
      <%= f.submit "Create campaign", class: "button-tale" %>
    <% end %>
  </div>
</div>
