<div class="standard-container">
  <%= link_to "Go back", campaigns_path, class:"no-link-style-black underlined-link"%>
  <div style="margin-top: 25px">
    <h3 class="arkham-font-tale"><%= @campaign_names[@campaign.name.to_sym] %></h3>
    <span class="button-frame"><%= @campaign.difficulty %></span>
  </div>
  <div class="flex-row-container" style="margin-top: 25px">
    <h3 class="arkham-font-tale media-font-size-medium">Investigators</h3>
    <%= link_to "Add Investigator", new_campaign_investigator_path(@campaign), class:"no-link-style-black underlined-link" %>
  </div>
  <div class="cards">
    <% @campaign.investigators.order(:created_at).each do |investigator| %>
      <div class="card-category">
        <div class="flex-row-container">
          <h4 class="arkham-font-tale media-font-size-small"><%= investigator.name %></h4>
          <div>
            <%= link_to  edit_campaign_investigator_path(@campaign, investigator) do %>
              <i class="fas fa-pencil-alt link-icon"></i>
            <% end %>
            <%= link_to  campaign_investigator_path(@campaign, investigator),
            method: :delete,
            data: { confirm: "Are you sure?" } do %>
              <i class="fas fa-trash link-icon"></i>
            <% end %>
          </div>
        </div>
        <br>
        <p>Player: <%= investigator.player_name %></p>
        <p>Deck Link: <%= link_to "Go to your Deck", investigator.deck_link, :target => "_blank", style: "color: black", class: "underlined-link" %></p>
        <!-- <p>Deck Link: <%#= investigator.deck_link %></p> -->
        <p>Physical Trauma: <%= investigator.physical_trauma %></p>
        <p>Mental Trauma: <%= investigator.mental_trauma %></p>
        <p>Unspent Experience Points: <%= investigator.unspent_experience_points %></p>
      </div>
    <% end %>
  </div>
  
  <!-- campaign log -->
  <div class="flex-row-container" style="margin-top: 25px">
    <h3 class="arkham-font-tale media-font-size-medium">Campaign Log</h3>
    <%= link_to "Add Entry", new_campaign_campaign_log_entry_path(@campaign), class:"no-link-style-black underlined-link" %>
  </div>
  <% @campaign.campaign_log_entries.order(:created_at).each do |campaign_log_entry| %>
    <ul class="flex-center-container"> 
      <li><%= campaign_log_entry.content %></li>
      <div style="margin-left: 15px;">
        <%= link_to  edit_campaign_campaign_log_entry_path(@campaign, campaign_log_entry) do %>
          <i class="fas fa-pencil-alt link-icon"></i>
        <% end %>
        <%= link_to  campaign_campaign_log_entry_path(@campaign, campaign_log_entry),
            method: :delete,
            data: { confirm: "Are you sure?" } do %>
              <i class="fas fa-trash link-icon"></i>
        <% end %>
      </div>
    </ul>
  <% end %>
  
  <!-- scenarios -->
  <h3 class="arkham-font-tale media-font-size-medium" style="margin-top: 25px">Scenarios</h3>
  <% @campaign.scenarios.order(:scenario_nr).each do |scenario| %>
    <div class="flex-center-container">
      <% if scenario.completed == true %>
        <i class="far fa-check-square"></i>
      <% else %>
        <i class="far fa-square"></i>
      <% end %>
      <p style="padding: 0 15px; margin-bottom: 0"><%= scenario.name %></p>
      <%= link_to  edit_campaign_scenario_path(@campaign, scenario) do %>
        <i class="fas fa-pencil-alt link-icon"></i>
      <% end %>
    </div>
  <% end %>
</div>
